Load the packages and create the dataframe from the CSV in the Resouces folder

In [5]:
# Dependencies and Setup
import pandas as pd

# Extract steps
#  First, loaded the raw files to the resources file
# interested if spliter could log us in and download the files on call to ensure the latest data. not required.

# File to Load 
ICO_exports_cal_yr = "Resources/exports-calendar-year.csv"
ICO_exports_crop_yr = "Resources/exports-crop-year.csv"
ICO_exports_gross_open_stocks = "Resources/gross-opening-stocks.csv"

# Read CSV Files and store into Pandas data frame
Exports_cal_yr_df = pd.read_csv(ICO_exports_cal_yr)
ICO_exports_crop_yr_df = pd.read_csv(ICO_exports_crop_yr)
ICO_exports_gross_open_stocks_df = pd.read_csv(ICO_exports_gross_open_stocks)
# Exports_cal_yr_df.head(10)
# ICO_exports_crop_yr_df.head(10)
ICO_exports_gross_open_stocks_df.head(10)

,gross_opening_stocks,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,210.000,161.0,136.000,111.000,96.000,36.00,40.000,40.000,10.000,...,40.000,20.000,20.0,10.0,5.0,5.0,5.0,5.0,5.0,5.0
1,Bolivia (Plurinational State of),54.000,39.8,33.400,25.200,11.000,12.50,14.000,2.000,1.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Brazil,26926.000,25548.0,22625.000,28921.000,29227.000,32161.00,26361.000,27298.000,26594.000,...,15766.000,11098.000,13340.0,10063.0,15868.0,17720.0,12910.0,7800.0,9872.0,9832.0
3,Burundi,77.000,150.0,53.108,0.000,38.574,120.59,88.500,301.833,3.584,...,40.465,6.742,7.0,7.0,5.0,7.0,7.0,5.0,5.0,10.0
4,Ecuador,723.963,250.0,552.207,100.000,230.000,100.00,200.000,380.000,160.000,...,8.000,12.000,10.0,2.3,2.0,3.0,3.0,3.0,3.0,3.0
5,Indonesia,1319.000,798.0,2427.000,1562.000,1644.000,1386.00,166.667,128.784,709.035,...,668.000,725.000,873.0,450.0,650.0,600.0,450.0,500.0,500.0,400.0
6,Madagascar,544.000,450.0,403.300,455.333,15.833,16.00,2.033,16.667,40.000,...,111.000,56.000,30.0,30.0,10.0,10.0,10.0,10.0,10.0,10.0
7,Malawi,20.000,19.0,19.000,25.000,10.000,5.00,13.000,2.000,3.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Papua New Guinea,199.000,146.0,95.000,49.000,38.000,39.50,40.000,45.000,38.300,...,38.000,25.000,10.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
9,Paraguay,188.000,135.0,115.000,105.000,100.000,67.00,55.000,45.000,40.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# May use this code later

# Next step - clean and transform

# sumdf=pd.DataFrame({"Number of Unique Items":[nuniqueitems],"Average Price":[avgprc],"Number of Purchases":[numpurch]
#                    , "Total Revenue":[totrev]})

#Format the dataframe
# sumdf["Average Price"]=sumdf["Average Price"].map("${:.2f}".format)
# sumdf["Total Revenue"]=sumdf["Total Revenue"].map("${:.2f}".format)

#Print it below
# sumdf
# demo_sum=pd.merge(demo_df, demo_pct, on='Gender')
# demo_sum=demo_sum.rename(columns={"SN_x":"Total Count","SN_y":"Percentage of Players"})
# demo_sum["Percentage of Players"]=demo_sum["Percentage of Players"].map("{:.2%}".format)
# demo_sum=demo_sum.sort_values("Total Count", ascending=False)

# Join them together for the final dataframe
# demo_sum_purch=pd.merge(demo_purch, demo_avgprc, on='Gender')
# demo_sum_purch=pd.merge(demo_sum_purch, demo_totpur, on='Gender')
# demo_sum_purch=pd.merge(demo_sum_purch, avg_tot_per_per_demo, on='Gender')

# #Format the dataframe
# demo_sum_purch=demo_sum_purch.rename(columns={"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price"
#                                  , "Price_y":"Total Purchase Value","Price":"Avg Total Purchase per Person"})
# demo_sum_purch["Average Purchase Price"]=demo_sum_purch["Average Purchase Price"].map("${:.2f}".format)
# demo_sum_purch["Total Purchase Value"]=demo_sum_purch["Total Purchase Value"].map("${:.2f}".format)
# demo_sum_purch["Avg Total Purchase per Person"]=demo_sum_purch["Avg Total Purchase per Person"].map("${:.2f}".format)
# demo_sum_purch=demo_sum_purch.sort_values("Purchase Count", ascending=False)

# #Display the dataframe
# demo_sum_purch


# Setting the index to the Item ID and Item Name
# ItemID_sum_purch2.set_index(['Item ID','Item Name'], inplace=True)